<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
  <form action="/regist" method="post">
    <form class="row g-3">
        <div class="col-md-6">
          <label for="Username" class="form-label">Username</label>
          <input type="username" class="form-control" id="Username">
        </div>
        <div class="col-md-6">
          <label for="Password" class="form-label">Password</label>
          <input type="password" class="form-control" id="Password">
        </div>
        <div class="col-12">
          <label for="Nim" class="form-label">Nim</label>
          <input type="text" class="form-control" id="Nim" placeholder="">
        </div>
        <div class="col-12">
          <label for="Email" class="form-label">Email</label>
          <input type="text" class="form-control" id="Email" placeholder="">
        </div>
        <div class="col-md-6">
          <label for="NoTelp" class="form-label">No Telp</label>
          <input type="text" class="form-control" id="NoTelp">
        </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-secondary">Sign Up</button>
        </div>
      </form>
</body>
</html>